<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <defaultCloudIndexConfiguration>
          <indexFieldStorageValueFormatter type="Sitecore.ContentSearch.Azure.Converters.CloudIndexFieldStorageValueFormatter, Sitecore.ContentSearch.Azure">
            <patch:attribute name="type" value="Sitecore.Support.ContentSearch.Azure.Converters.CloudIndexFieldStorageValueFormatter, Sitecore.Support.169122" />
          </indexFieldStorageValueFormatter>
          <documentOptions>
            <exclude hint="list:AddExcludedField">
              <__Final_Renderings>{04BF00DB-F5FB-41F7-8AB7-22408372A981}</__Final_Renderings>
            </exclude>
          </documentOptions>
        </defaultCloudIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
    <settings>
      <!--  AZURE SEARCH MAX RESULTS
         The maximum number of results that a search query to Azure Search service return.
         If value is set to "", value from the "ContentSearch.SearchMaxResults" setting is used. 
         However Azure Search service limits number of documents in a search result by 1000:
         https://docs.microsoft.com/en-us/azure/search/search-limits-quotas-capacity
         
         Default value: "1000"
         -->
      <setting name="ContentSearch.AzureSearch.SearchMaxResults" value="1000" />
    </settings>
  </sitecore>
</configuration>